streamlit
openai
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
pinecone-client
python-dotenv
elevenlabs>1.0.0
langchain-anthropic
sentence_transformers
streamlit-mic-recorder
pygame
pydub

#Depricated
#dvc
#dvc-s3
#pydub
#librosa
#grpcio
#sounddevice
#torch
#accelerate
#streamlit_chat
#tiktoken
#ctransformers
#huggingface-hub
#pypdf
#python-dotenv
#langsmith==0.0.87
#pypickle
#tiktoken==0.5.2
#datasets==2.10.1
#altair
#pandas
